{% extends "base.html" %}

{% block titulo %} Área personal {% endblock %}

{% block contenido_principal %}


	<h4>Área personal</h4>

	<div class="container white">
		<div class="table table-responsive">
			<table class="table table-hover"
				id="personalData">
				<thead>
					<tr>
						<th >Nombre</th>
						<th >Email</th>
						<th >Saldo disponible</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> {{ usuario.name }}</td>
						<td> {{ usuario.email }}</td>
						<td>{{ usuario.credits }} €</td>
					</tr>
				</tbody>
			</table>
		</div>
		{% if usuario.email != "admin@email.com" %}

		<h4>Ofertas activas</h4>

		<div class="table table-responsive">
			<table class="table table-hover" id="createdOffers">
				<thead>
				<tr>
					<th>Título</th>
					<th>Fecha</th>
					<th>Descripción</th>
					<th>Precio</th>
				</tr>
				</thead>
				<tbody>
				{% for oferta in ofertasC %}
				<tr>
					<td>{{oferta.title}}</td>
					<td>{{oferta.date.getDate()+"-"+oferta.date.getMonth()+"-"+oferta.date.getFullYear()}}</td>
					<td>{{oferta.description}}</td>
					<td>{{oferta.price}} €</td>
					<td><a href="/offer/delete/{{ oferta._id.toString()}}">Eliminar</a></td>
					{% if oferta.sold %}
					<td>Vendido</td>
					{% else %}
						{% if oferta.flash %}
							<td><a href="/offer/flash/{{ oferta._id.toString()}}">Normal</a></td>
						{% else %}
							<td><a href="/offer/flash/{{ oferta._id.toString()}}">Destacar[20€]</a></td>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<h4>Ofertas compradas</h4>

		<div class="table table-responsive">
			<table class="table table-hover" id="purchasedOffers">
				<thead>
				<tr>
					<th>Título</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Vendedor</th>
				</tr>
				</thead>
				<tbody>
				{% for oferta in ofertasP %}
				<tr>
					<td>{{oferta.title}}</td>
					<td>{{oferta.description}}</td>
					<td>{{oferta.price}} €</td>
					<td>{{oferta.owner}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
{% endblock %}
