{% extends "base.html" %}

{% block titulo %} Chat {% endblock %}

{% block contenido_principal %}

	<h4> Chat </h4>
	<div class="container white" style="text-align: center">


		<hr>
		<hr>
		<div class="table table-responsive">
			<h4>Mensajes</h4>
			<hr>
			<hr>
			<table class="table table-hover" id="converTable">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Oferta</th>
					</tr>
				</thead>
				<tbody>
				{% for conver in conversations %}
					<tr>
						<td>{{conver.sender}}</td>
						<td>{{conver.offer}}</td>
						<td><a href="/user/conver/{{conver._id.toString()}}">Ver conversacion</a></td>
						<td><a href="/user/conver/delete/{{conver._id.toString()}}">Eliminar</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

